@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css">
}

@section Scripts {
    <!-- ============================================================
        =SCRIPTS PARA ESTA PAGINA
        ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/datatables-demo.js"></script>
}

@* aqui *@
<section>
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Registrar Información</h6>
        </div>
        <div class="card-body">
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtComiteCert">Acta Comite CERT</label>
                    <input type="text" class="form-control form-control-sm" id="txtComiteCert">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtAcronimoSigla">Radicado Asignación Usuario Funcional</label>
                    <input type="text" class="form-control form-control-sm" id="txtUsuarioFuncional">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtVersionActual">Versión Actual</label>
                    <input type="text" class="form-control form-control-sm" id="txtVersionActual">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtPropositoPrincipal">Propósito Principal</label>
                    <input type="text" class="form-control form-control-sm" id="txtPropositoPrincipal" placeholder="Describir propósito principal del sistema">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtNombredelSistema">Nombre del Sistema</label>
                    <input type="text" class="form-control form-control-sm" id="txtNombredelSistema">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtAcronimoSigla">Acrónimo / Sigla</label>
                    <input type="text" class="form-control form-control-sm" id="txtAcronimoSigla">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtVersionActual">Versión Actual</label>
                    <input type="text" class="form-control form-control-sm" id="txtVersionActual">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtPropositoPrincipal">Propósito Principal</label>
                    <input type="text" class="form-control form-control-sm" id="txtPropositoPrincipal" placeholder="Describir propósito principal del sistema">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtUsuariosActivos">Usuarios Activos</label>
                    <input type="text" class="form-control form-control-sm" id="txtUsuariosActivos">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtResponsableTecnico">Responsable Técnico</label>
                    <input type="text" class="form-control form-control-sm" id="txtResponsableTecnico">
                </div>

                <div class="form-group col-sm-3">
                    <label for="txtTipodePlataforma">Tipo de Plataforma</label>
                    <input type="text" class="form-control form-control-sm" id="txtTipodePlataforma">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtSistemaOperativo">Sistema Operativo</label>
                    <input type="text" class="form-control form-control-sm" id="txtSistemaOperativo">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtBasedeDatos">Base de Datos</label>
                    <input type="text" class="form-control form-control-sm" id="txtBasedeDatos">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtLenguajeProgramacion">Lenguaje de Programación</label>
                    <input type="text" class="form-control form-control-sm" id="txtLenguajeProgramacion" placeholder="Ej: Java, .NET Framework, .NET Core, PHP">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtServidorAplicaciones">Servidor de Aplicaciones</label>
                    <input type="text" class="form-control form-control-sm" id="txtServidorAplicaciones" placeholder="Ej: Tomcat, IIS, Apache">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtTipodeArquitectura">Tipo de Arquitectura</label>
                    <input type="text" class="form-control form-control-sm" id="txtTipodeArquitectura">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtAnioImplementacion">Año de Implementación</label>
                    <input type="text" class="form-control form-control-sm" id="txtAnioImplementacion">
                </div>

                <div class="form-group col-sm-3">
                    <label for="txtAPIsDisponibles">APIs Disponibles</label>
                    <input type="text" class="form-control form-control-sm" id="txtAPIsDisponibles">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtServiciosWeb">Servicios Web</label>
                    <input type="text" class="form-control form-control-sm" id="txtServiciosWeb">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtProtocolosComunicacion">Protocolos de Comunicación</label>
                    <input type="text" class="form-control form-control-sm" id="txtProtocolosComunicacion" placeholder="HTTP, HTTPS, FTP, etc.">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtIntegracionesActuales">Integraciones Actuales</label>
                    <input type="text" class="form-control form-control-sm" id="txtIntegracionesActuales">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtFormatosIntercambio">Formatos de Intercambio</label>
                    <input type="text" class="form-control form-control-sm" id="txtFormatosIntercambio">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtTipodeRed">Tipo de Red</label>
                    <input type="text" class="form-control form-control-sm" id="txtTipodeRed">
                </div>

                <div class="form-group col-sm-3">
                    <label for="txtEntidadesPrincipales">Entidades Principales</label>
                    <input type="text" class="form-control form-control-sm" id="txtEntidadesPrincipales">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtVolumenRegistros">Volumen de Registros</label>
                    <input type="text" class="form-control form-control-sm" id="txtVolumenRegistros">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtFrecuenciaActualizacion">Frecuencia de Actualización</label>
                    <input type="text" class="form-control form-control-sm" id="txtFrecuenciaActualizacion">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtFormatosCodificacion">Formatos de Codificación</label>
                    <input type="text" class="form-control form-control-sm" id="txtFormatosCodificacion">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtBackupRespaldo">Backup / Respaldo</label>
                    <input type="text" class="form-control form-control-sm" id="txtBackupRespaldo">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtProveedorSoporte">Proveedor de Soporte</label>
                    <input type="text" class="form-control form-control-sm" id="txtProveedorSoporte">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtContratoVigente">Contrato Vigente</label>
                    <input type="text" class="form-control form-control-sm" id="txtContratoVigente">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtAutenticacion">Autenticación</label>
                    <input type="text" class="form-control form-control-sm" id="txtAutenticacion">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtLogsAuditoria">Logs de Auditoría</label>
                    <input type="text" class="form-control form-control-sm" id="txtLogsAuditoria">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtHorarioOperacion">Horario de Operación</label>
                    <input type="text" class="form-control form-control-sm" id="txtHorarioOperacion">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtValidacionDatos">Validación de Datos</label>
                    <input type="text" class="form-control form-control-sm" id="txtValidacionDatos">
                </div>

                <div class="form-group col-sm-3">
                    <label for="txtTiempoRespuesta">Tiempo de Respuesta</label>
                    <input type="text" class="form-control form-control-sm" id="txtTiempoRespuesta">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtUsuariosConcurrentes">Usuarios Concurrentes</label>
                    <input type="text" class="form-control form-control-sm" id="txtUsuariosConcurrentes">
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="form-group col-sm-3">
                    <label for="txtProblemasRecurrentes">Problemas Recurrentes</label>
                    <input type="text" class="form-control form-control-sm" id="txtProblemasRecurrentes">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtCostoLicenciamiento">Costo de Licenciamiento</label>
                    <input type="text" class="form-control form-control-sm" id="txtCostoLicenciamiento">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtCostoMantenimiento">Costo de Mantenimiento</label>
                    <input type="text" class="form-control form-control-sm" id="txtCostoMantenimiento">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtGuiaUsuario">Guia Usuario Final</label>
                    <input type="text" class="form-control form-control-sm" id="txtGuiaUsuario">
                </div>
            </div>
        </div>
    </div>
</section>